@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
  font-family: Ubuntu, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.btn-wrapper {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  width: 100%;
}

.input-full-width {
  width: 100%;
}
